@font-face{
font-family: dirb;
src: url('./e8acd7d9bf6207f99350ca9f9e23b168.woff') format('woff');
font-style: normal;
}
 *{margin:0; padding:0; box-sizing: border-box;}
@font-face{
font-family: dirb;
src: url('./') format('woff');
font-style:normal;
}

:root {
 --sam: "SF Pro Text", "SF Pro Icons", system, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
 --color-whats: #a333e4;
}

body{
 font-family: var(--sam);
 font-size: 17px;
 font-weight: 500;
}

h4{
 margin: 10px;
}
.login{ background: #000; padding: 20px; padding-bottom: 30px; text-align: center; width: 370px; margin:10px;
border-radius: 10px;
 transform: translateY(0px);
transition: 0.5s;
animation: --login 0.5s ease-out;
}

.login.ativo{
 transform: translateY(-450px);
 transition: 0.5s;
 display: none;
}

@keyframes --login{
 from{transform: translateY(230px);}
 to{transform: translateY(0px);}
}
.server{
text-align: center;} input{background: transparent; color:#fff; border:none; font-size:  17px;
padding:10px;outline:none; font-family: var(--sam);}
.input{display:flex; height: 5vh; border-radius: 5px; overflow: hidden; 
background:#191919;
width: 90%;
justify-content: space-between; margin: 0 auto 10px;}
.chat{margin-top: -10px; margin-right: 20px;} .lab{width:90%; text-align: left; margin: 0 auto 10px; display: flex; justify-content: space-between;} .lib{display: flex; justify-content: space-between; width: 100%;}
.screen{ width: 100%;}
@media(max-width:999px){ .input{ width: 90%;}}
#pass{ width:100%;}
#lo_o{color: white;}
.desktop{
display: flex;
justify-content: space-between;
width: 980px;
background: #000;
padding: 10px; border-radius: 30px;
margin: 0 auto 10px;
box-shadow: 1px 1px 7px 7px #00000052;

 .login{
  width: 100%;
 }
 
 #lip, #ok_o{ width: 90%;}
}

.left{ margin-top: 5%;}
button{
 font-family: var(--sam);
}